  <footer class="main-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-left">
        <p>&copy; 2023 Manglar LAB 2023. Todos los derechos reservados.</p>
      </div>
      <div class="col-md-6 text-right">
        <p>Proyecto - Manglar 2023</p>
      </div>
    </div>
  </div>
</footer>
